{% extends 'base.html' %}

{% block title %}Delete File{% endblock %}

{% block content %}
    <div class="container">
        <h2>Delete File</h2>
        <p>Are you sure you want to delete <strong>{{ file }}</strong>?</p>
        <form action="{% url 'delete_file' %}?current_folder={{ current_folder }}" method="post">
            {% csrf_token %}
            <input type="hidden" name="file" value="{{ file }}">
            <button type="submit" class="btn btn-danger">Delete</button>
            <a href="{% url 'list_files' %}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
{% endblock %}
