{% extends 'base.html' %}

{% block title %}My Files{% endblock %}

{% block content %}
    <div class="container">
        <h2>My Files</h2>
        <div class="mb-3">
            <a href="{% url 'upload_file' %}?current_folder={{ current_folder }}" class="btn btn-primary">Upload
                File</a>
            <a href="{% url 'create_folder' %}?current_folder={{ current_folder }}" class="btn btn-secondary">Create
                Folder</a>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Size</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for item in files_and_folders %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.type }}</td>
                    <td>{{ item.size }}</td>
                    <td>
                        {% if item.type == "folder" %}
                            <a href="{% url 'list_files' %}?current_folder={{ item.name }}" class="btn btn-sm btn-primary">Open</a>
                            <a href="{% url 'delete_folder' %}?current_folder={{ current_folder }}&folder={{ item.name }}" class="btn btn-sm btn-danger">Delete</a>
                        {% elif item.type == 'file' %}
                            <a href="{% url 'download_file' %}?current_folder={{ current_folder }}&file={{ item.name }}" class="btn btn-sm btn-success">Download</a>
                            <a href="{% url 'delete_file' %}?current_folder={{ current_folder }}&file={{ item.name }}" class="btn btn-sm btn-danger">Delete</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
